:host-context(.dark) {
  .btn-microsoft {
    background-color: transparent !important;
    color: #2b9bf4 !important;
    border-color: rgba(43, 155, 244, 0.5) !important;

    &:hover {
      background-color: rgba(43, 155, 244, 0.1) !important;
      border-color: #2b9bf4 !important;
    }
  }
}
