<header class="sticky top-0 z-50 bg-surface border-b border-muted-blue-gray">
	<div class="flex justify-between items-center px-margin-mobile md:px-margin-desktop w-full max-w-max-width mx-auto h-16 transition-all duration-200 ease-in-out">
		<div class="flex items-center gap-4">
			<a class="font-headline-md text-headline-md font-bold text-primary" routerLink="/">REASONS</a>
		</div>
		<nav class="hidden md:flex items-center gap-8 h-full">
			<a class="font-label-md text-label-md text-secondary hover:text-primary transition-colors h-full flex items-center px-2 hover:bg-surface-container rounded-DEFAULT" routerLink="/" routerLinkActive="text-primary border-b-2 border-primary pb-1" [routerLinkActiveOptions]="{exact: true}">Home</a>
			<a class="font-label-md text-label-md text-secondary hover:text-primary transition-colors h-full flex items-center px-2 hover:bg-surface-container rounded-DEFAULT" routerLink="/investigadores" routerLinkActive="text-primary border-b-2 border-primary pb-1">Team</a>
			<a class="font-label-md text-label-md text-secondary hover:text-primary transition-colors h-full flex items-center px-2 hover:bg-surface-container rounded-DEFAULT" routerLink="/proyectos" routerLinkActive="text-primary border-b-2 border-primary pb-1">Projects</a>
			<a class="font-label-md text-label-md text-secondary hover:text-primary transition-colors h-full flex items-center px-2 hover:bg-surface-container rounded-DEFAULT" routerLink="/publicaciones" routerLinkActive="text-primary border-b-2 border-primary pb-1">Publications</a>
			<a class="font-label-md text-label-md text-secondary hover:text-primary transition-colors h-full flex items-center px-2 hover:bg-surface-container rounded-DEFAULT" routerLink="/contactos" routerLinkActive="text-primary border-b-2 border-primary pb-1">Contact</a>
		</nav>
		<div class="flex items-center">
			<button class="text-primary hover:bg-surface-container p-2 rounded-full transition-colors flex items-center justify-center" type="button">
				<span class="material-symbols-outlined" style="font-variation-settings: 'FILL' 0;">school</span>
			</button>
		</div>
	</div>
</header>
